/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 2rem 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 375px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}

/* style */
.container {
  /* border: 3px solid #1e90ff; */
  /* padding: 2rem 0; */
}
.choose-txt {
  margin: 2rem;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #1e90ff;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: 700;
}
.btn:active {
  background: #4169e1;
}

.player-answer {
  margin: 1rem 0 1rem;
}
.bot-answer {
  margin: 0 0 2rem;
}
.result {
  display: inline-block;
  padding: 0 0.5rem;
  background: #fff;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -10px;
}
.container-hasil {
  position: relative;
  border: 2px solid #1e90ff;
  width: 280px;
  margin: 2rem auto 0;
  padding: 1rem 0;
  border-radius: 7px;
}
.score {
  margin: 1rem auto;
}
table,
th,
td {
  padding: 1rem;
  border: 2px solid #1e90ff;
  border-collapse: collapse;
}
.table-container {
  margin: 2rem 0 0;
}
.reset-score {
  width: 150px;
  display: inline-block;
}
.bot-score,
.player-score {
  font-weight: 700;
}
